.cent{
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border: 1px solid black;
    padding:0px 10px;
    background: cadetblue
    ;
}
.header-text{
    margin: 0 10px;;
}

.logo{
    height: 60px;
    width: auto;
    align-items: center;
}
.img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;   
}

.nav-items > ul > li {
    padding: 5px;
    margin: 10px;
    font-size: 22px;

}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    width: 200px;
    padding: 10px;
    margin: 15px;
    background: lightgray;
}
.res-card:hover{
    border: 1px solid black;
    box-shadow: 0px 3px 9px -2px;
    cursor: pointer;
    /* background: antiquewhite; */


}

.filter-btn{
    margin: 0 20px;
}
.search{
    padding: 10px;
    display: flex;
}
.res-image{
    height: 101px;
    width: auto;

}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shimmer-card{
    margin: 20px;
    width: 188px;
    height:250px;
    background: #f0f0f0;
}

.flat-card{
    margin-top: 263px;
    width: 130px;
    height: 10px;
    background: #f0f0f0;
}

.login-btn{
    height: 50px;
    width: 80px;
    cursor: pointer;
}
.login-btn:hover{
    background: white;
    color: black;
}

.no-underline{
    text-decoration: none;
    color: black;
  }

  .user-card{
    padding: 10px;
    margin: 10px;
    border: 1px solid;
  }